<h1>Edit your photo</h1>

<form action="/update_photo/<%= @photo.id %>">
  <label for="url">
    Image URL
  </label>
  <input type="text" id="url" name="the_source" value="<%= @photo.source %>">

  <label for="caption">
    The Caption
  </label>
  <input type="text" id="caption" name="the_caption" value="<%= @photo.caption %>">
  <button>Update Photo</button>
</form>
